#include <cstdlib>
#include <iostream>

using namespace std;

namespace VAN_MAASTRICHT {
	template <class Item>
	void clear_tree(BTNode<Item>*& root_ptr) {
		if(root_ptr != NULL) {
			clear_tree(root_ptr->left());
			clear_tree(root_ptr->right());
			delete root_ptr;
			root_ptr = NULL;
		}
	}

	template <class Item>
	size_t tree_size(BTNode<Item>* root_ptr) {
		if(root_ptr == NULL) {
			return 0;
		}
		else {
			return 1 + tree_size(root_ptr->left()) + tree_size(root_ptr->right());
		}
	}
}
